@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff");
}
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff");
}
@font-face {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-900.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FEFCF7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
  padding: 15px 31px;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #66D2CF;
}

.btn:active {
  background-color: #E2DEDB;
}

.site-header__link,
.site-footer__link {
  display: block;
  padding: 5px;
  transition-duration: 0.6s;
  padding: 5px;
}

.site-header__link:hover {
  transform: scale(1.8);
  color: #FEFCF7;
}

.site-header__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2C343E;
  transition-duration: 0.6s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.site-header__link:hover:before {
  transition: transform 0.6s;
  transform-origin: left;
  transform: scaleX(1);
}

.site-footer__link:hover {
  transform: scale(1.8);
  color: #333D4B;
}

.site-footer__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FEFCF7;
  transition-duration: 0.6s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.site-footer__link:hover:before {
  transition: transform 0.6s;
  transform-origin: left;
  transform: scaleX(1);
}

.hero {
  padding-top: 57px;
}
.hero__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 117px 85px;
  background-image: url("../../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.hero__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  max-width: 493px;
  margin-bottom: 32px;
}
.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(254, 252, 247, 0.8);
  mix-blend-mode: normal;
  opacity: 0.8;
  max-width: 425px;
  margin-bottom: 56px;
}

.collection {
  padding-top: 123px;
}
.collection__container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-image: url("../img/collection_bg.png");
  background-position: center top;
}
.collection__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 126px;
  text-align: center;
}
.collection__item {
  max-width: 255px;
}
.collection__item::before {
  content: "";
  width: 255px;
  height: 193px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-bottom: 71px;
}
.collection__item:nth-child(1)::before {
  content: "";
  background-image: url("../img/type-tea_1.png");
}
.collection__item:nth-child(2)::before {
  content: "";
  background-image: url("../img/type-tea_2.png");
}
.collection__item:nth-child(3)::before {
  content: "";
  background-image: url("../img/type-tea_3.png");
}
.collection__item:nth-child(4)::before {
  content: "";
  background-image: url("../img/type-tea_4.png");
}
.collection__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;
}
.collection__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(51, 61, 75, 0.8);
  max-width: 255px;
}

.choose {
  padding-top: 200px;
  text-align: center;
}
.choose__block {
  position: relative;
  padding-top: 100px;
  background-color: #2C343E;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 86px;
}
.choose__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}
.choose__text {
  max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(254, 252, 247, 0.8);
  margin-bottom: 86px;
  margin: 0 auto;
}
.choose__space {
  position: absolute;
  background-color: #2C343E;
  width: 100%;
  height: 230px;
  bottom: -66%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
}
.choose__list {
  padding: 0;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.choose__item {
  max-width: 350px;
  background-color: #0E8784;
  border-radius: 8px;
  display: inline-block;
  padding: 72px 48px 48px 48px;
}
.choose__item::before {
  content: "";
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-bottom: 56px;
}
.choose__item:nth-child(1):before {
  content: "";
  background-image: url("../img/choose-1.svg");
}
.choose__item:nth-child(2):before {
  content: "";
  background-image: url("../img/choose-2.svg");
}
.choose__item:nth-child(3):before {
  content: "";
  background-image: url("../img/choose-3.svg");
}
.choose__inner-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
  margin-bottom: 24px;
}
.choose__inner-text {
  max-width: 255px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(254, 252, 247, 0.8);
}

.work {
  padding-top: 200px;
}
.work__block {
  max-width: 1110px;
  margin: 0 auto;
}
.work__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 95px;
}
.work__line {
  max-width: 790px;
  height: 2px;
  background-color: #FDD6BA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 82px;
}
.work__circle {
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: #FEFCF7;
  border: 2px solid #0E8784;
}
.work__list {
  display: flex;
  margin-bottom: 64px;
}
.work__item {
  max-width: 285px;
}
.work__item + .work__item {
  padding: 0;
  margin-left: 95px;
}
.work__item::before {
  content: "01";
  display: inline-block;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}
.work__item:nth-child(1)::before {
  content: "01";
}
.work__item:nth-child(2)::before {
  content: "02";
}
.work__item:nth-child(3)::before {
  content: "03";
}
.work__inner-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 42px;
  max-width: 255px;
}
.work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(51, 61, 75, 0.8);
  max-width: 285px;
}

.site-header {
  padding-top: 43px;
}
.site-header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__logo-box {
  max-width: 236px;
}
.site-header__list {
  display: flex;
  align-items: center;
}
.site-header__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-transform: uppercase;
}
.site-header__item + .site-header__item {
  margin-left: 33px;
}
.site-header__link {
  display: inline-block;
  color: #83888F;
  position: relative;
}

.about-hero {
  padding-top: 43px;
}
.about-hero__container {
  max-width: 1280px;
  padding: 137px 85px;
  background-repeat: no-repeat;
  background-image: url("../../img/about-hero-bg.jpg");
  background-position: center;
  background-size: 100% 100%;
  border-radius: 10px;
}
.about-hero__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 24px;
}
.about-hero__text {
  max-width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(254, 252, 247, 0.8);
}

.commitment {
  padding-top: 168px;
}
.commitment__block {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commitment__img-box {
  width: 445px;
  border-radius: 10px;
  overflow: hidden;
}
.commitment__img {
  width: 100%;
}
.commitment__content {
  margin-left: 124px;
}
.commitment__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
}
.commitment__text {
  max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(51, 61, 75, 0.8);
}

.quality {
  padding-top: 244px;
}
.quality__container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2C343E;
  border-radius: 10px;
}
.quality__block {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.quality__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-top: 100px;
  margin-bottom: 32px;
}
.quality__text {
  max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(254, 252, 247, 0.8);
  margin-bottom: 176px;
}
.quality__img-box {
  max-width: 445px;
  position: relative;
  right: 0;
  top: -84px;
  border-radius: 15px;
  overflow: hidden;
}
.quality__img {
  height: 100%;
}

.location {
  padding-top: 168px;
}
.location__block {
  max-width: 1110px;
  margin: 0 auto;
}
.location__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 72px;
}
.location__list {
  display: flex;
}
.location__item {
  max-width: 285px;
}
.location__item + .location__item {
  margin-left: 108px;
}
.location__item::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 45px;
}
.location__item:nth-child(1)::before {
  content: "";
  background-image: url("../../img/location-1.svg");
}
.location__item:nth-child(2)::before {
  content: "";
  width: 52px;
  background-image: url("../../img/location-2.svg");
}
.location__item:nth-child(3)::before {
  content: "";
  width: 52px;
  background-image: url("../../img/location-3.svg");
}
.location__inner-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 24px;
}
.location__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(51, 61, 75, 0.8);
}
.location__inner-item + .location__inner-item {
  margin-top: 5px;
}

.site-footer {
  padding-top: 168px;
}
.site-footer__container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2C343E;
  margin-bottom: 88px;
}
.site-footer__block {
  max-width: 1110px;
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
}
.site-footer__logo-box {
  max-width: 236px;
}
.site-footer__list {
  margin-left: 102px;
  display: flex;
  align-items: center;
}
.site-footer__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-transform: uppercase;
}
.site-footer__item + .site-footer__item {
  margin-left: 33px;
}
.site-footer__link {
  color: #83888F;
}
.site-footer__media-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.site-footer__media-item {
  position: relative;
}
.site-footer__media-item + .site-footer__media-item {
  margin-left: 24px;
}
.site-footer__media-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
}
.site-footer__media-item::before {
  content: "";
  width: 36px;
  height: 36px;
  display: inline-block;
  background-size: 66% 66%;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.6s;
}
.site-footer__media-item:nth-child(1):before {
  content: "";
  background-image: url("../img/media-1.svg");
}
.site-footer__media-item:nth-child(2):before {
  content: "";
  background-image: url("../img/media-2.svg");
}
.site-footer__media-item:nth-child(3):before {
  content: "";
  background-image: url("../img/media-3.svg");
}
.site-footer__media-item:hover:before {
  content: "";
  background-size: 90% 90%;
  background-color: #83888F;
  border-radius: 50%;
}

.create-hero {
  padding-top: 43px;
}
.create-hero__container {
  max-width: 1280px;
  padding: 134px 85px;
  background-repeat: no-repeat;
  background-image: url("../../img/create-hero.jpg");
  background-position: center;
  background-size: 100% 100%;
  border-radius: 10px;
}
.create-hero__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 32px;
}
.create-hero__text {
  max-width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(254, 252, 247, 0.8);
}

.create-work {
  padding-top: 172px;
}
.create-work__container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2C343E;
  padding: 100px 0;
  border-radius: 10px;
}
.create-work__block {
  max-width: 1110px;
  margin: 0 auto;
}
.create-work__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 95px;
}
.create-work__line {
  max-width: 790px;
  height: 2px;
  background-color: #fdd6ba;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 67px;
  margin-left: 15.5px;
}
.create-work__circle {
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #0E8784;
}
.create-work__circle:nth-child(1) {
  margin-left: -14.5px;
}
.create-work__circle:nth-child(3) {
  margin-right: -14.5px;
}
.create-work__list {
  display: flex;
}
.create-work__item {
  max-width: 285px;
}
.create-work__item + .create-work__item {
  padding: 0;
  margin-left: 95px;
}
.create-work__item::before {
  content: "";
  display: inline-block;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}
.create-work__item:nth-child(1)::before {
  content: "01";
}
.create-work__item:nth-child(2)::before {
  content: "02";
}
.create-work__item:nth-child(3)::before {
  content: "03";
}
.create-work__inner-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
  margin-bottom: 42px;
  max-width: 255px;
}
.create-work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(254, 252, 247, 0.8);
  max-width: 285px;
}

.info {
  padding-top: 168px;
}
.info__block {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.info__left-item {
  font-family: "Fraunces";
  width: 255px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  padding-bottom: 24px;
  opacity: 0.6;
  cursor: pointer;
  transition-duration: 0.4s;
}
.info__left-number {
  margin-right: 24px;
  color: #0E8784;
}
.info__left-item:not(:nth-child(5)) {
  border-bottom: 2px solid #83888F;
  margin-bottom: 24px;
}
.info__left-item:hover {
  opacity: 1;
  color: #333D4B;
}
.info__left-item:hover .info__left-number {
  color: #0E8784;
}
.info__right-content {
  width: 730px;
}
.info__checkbox {
  display: none;
}
.info__right-label {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  display: flex;
  align-items: center;
  margin-bottom: 56px;
  cursor: pointer;
}
.info__right-label i {
  display: block;
  margin-left: auto;
  transition-duration: 0.4s;
}
.info__inner-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}
.info__inner-item {
  max-width: 224px;
  padding: 32px 25px 84px 25px;
  background-color: #F4F1EB;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 0px 8px 8px rgba(14, 134, 132, 0.1019607843);
  cursor: pointer;
}
.info__inner-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  color: #333D4B;
}
.info__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(51, 61, 75, 0.8);
}
.info__inner-item:hover {
  background-color: #0E8784;
  box-shadow: 0px 12px 21px rgba(14, 134, 132, 0.2588235294);
}
.info__inner-item:hover .info__inner-title {
  color: #FEFCF7;
}
.info__inner-item:hover .info__inner-text {
  color: rgba(254, 252, 247, 0.8);
}
.info__inner-item:active {
  background-color: #FDD6BA;
  box-shadow: 0px 4px 4px rgba(253, 214, 186, 0.4352941176);
}
.info__inner-item:active .info__inner-title {
  color: #333D4B;
}
.info__inner-item:active .info__inner-text {
  color: rgba(51, 61, 75, 0.8);
}
.info__inner-list {
  display: none;
}
.info__checkbox:checked ~ .info__inner-list {
  display: flex;
}
.info__checkbox:checked ~ .info__right-label {
  color: #333D4B;
}
.info__checkbox:checked ~ .info__right-label i {
  transform: rotateX(-180deg);
}
.info__right-box {
  padding: 27px 64px;
  background-color: #2C343E;
  border-radius: 10px;
  margin-top: 84px;
}
.info__bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 8px;
}
.info__bottom-content {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FEFCF7;
}
.info__right-span {
  color: #0E8784;
}
.info__btn-box {
  margin-top: 40px;
  text-align: end;
}/*# sourceMappingURL=main.css.map */