$gray-color: #83888F;
$snow-color: #FEFCF7;
$snow-color-alpha: #fefcf7cc;
$dark-color: #333D4B;
$dark-color-alpha: #333d4bcc;
$btn-color: #0E8784;
$btn-color-hover: #66D2CF;
$btn-color-active: #E2DEDB;
$bg-color: #2C343E;
$number-color: #FDD6BA;
$inner-width: 1110px;
$main-font: 'Barlow';
$secondary-font:'Fraunces';