.create-work {
    padding-top: 172px;
    &__block {
        max-width: 1280px;
        margin: 0 auto;
        background-color: $bg-color;
        padding: 100px 85px;
        border-radius: 10px;
    }
    &__title {
        font-family: $secondary-font;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: $gray-color;
        margin-bottom: 95px;
    }
    &__line {
        max-width: 790px;
        height: 2px;
        background-color: $number-color;
        @include flex;
        justify-content: space-between;
        margin-bottom: 67px;
        margin-left: 15.5px;
    }
    &__circle {
        display: inline-block;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background: transparent;
        border: 2px solid $btn-color;
    }
    &__circle:nth-child(1) {
        margin-left: -14.5px;
    }
    &__circle:nth-child(3) {
        margin-right: -14.5px;
    }
    &__list {
        display: flex;
    }
    &__item {
        max-width: 285px;
    }
    &__item+&__item {
        padding: 0;
        margin-left: 95px;
    }
    &__item::before {
        content: '';
        display: inline-block;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: $number-color;
        margin-bottom: 38px;
    }
    &__item:nth-child(1)::before {
        content: '01';
    }
    &__item:nth-child(2)::before {
        content: '02';
    }
    &__item:nth-child(3)::before {
        content: '03';
    }
    &__inner-title {
        font-family: $secondary-font;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: $snow-color;
        margin-bottom: 42px;
        max-width: 255px;
    }
    &__text {
        @include text($snow-color-alpha);
        max-width: 285px;
    }
}

@media only screen and (max-width:880px) {
    .create-work {
        padding-top: 140px;
        &__block {
            max-width: 100%;
            margin: 0 auto;
            padding: 70px 40px;
        }
        &__line {
            max-width: 467px;
            margin-bottom: 48px;
        }
        &__item {
            max-width: 223px;
        }
        &__item+&__item {
            margin-left: 10px;
        }
        &__inner-title {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 38px;
            max-width: 100%;
        }
        &__text {
            font-size: 15px;
            line-height: 25px;
        }
    }
}

@media only screen and (max-width:650px) {
    .create-work {
        padding-top: 100px;
        &__container {
            padding: 0;
        }
        &__block {
            max-width: 100%;
            margin: 0 auto;
            padding: 70px 24px;
        }
        &__line {
            display: none;
        }
        &__list {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        &__item {
            max-width: 100%;
        }
        &__item+&__item {
            margin-top: 24px;
        }
        &__inner-title {
            text-align: center;
            margin-bottom: 24px;
        }
        &__text {
            max-width: 100%;
        }
        &__item::before {
            content: '';
            margin-bottom: 24px;
            margin-left: -20px;
        }
    }
}