    .collection {
        padding-top: 123px;
        &__container {
            max-width: $inner-width;
            margin: 0 auto;
            padding: 0;
            @include background;
            background-image: url('../img/collection_bg.png');
            background-position: center top;
        }
        &__list {
            display: flex;
            justify-content: space-between;
            padding: 0;
            padding-top: 126px;
            text-align: center;
        }
        &__item {
            max-width: 255px;
        }
        &__item::before {
            content: '';
            width: 255px;
            height: 193px;
            @include background;
            display: inline-block;
            margin-bottom: 71px;
        }
        &__item:nth-child(1)::before {
            content: '';
            background-image: url('../img/type-tea_1.png');
        }
        &__item:nth-child(2)::before {
            content: '';
            background-image: url('../img/type-tea_2.png');
        }
        &__item:nth-child(3)::before {
            content: '';
            background-image: url('../img/type-tea_3.png');
        }
        &__item:nth-child(4)::before {
            content: '';
            background-image: url('../img/type-tea_4.png');
        }
        &__title {
            @include title;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;
        }
        &__text {
            @include text;
            max-width: 255px;
        }
    }