.work {
    padding-top: 200px;
    &__block {
        max-width: $inner-width;
        margin: 0 auto;
    }
    &__title {
        @include title($gray-color);
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 95px;
    }
    &__line {
        max-width: 790px;
        height: 2px;
        background-color: $number-color;
        @include flex;
        justify-content: space-between;
        margin-bottom: 82px;
    }
    &__circle {
        display: inline-block;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background: $snow-color;
        border: 2px solid $btn-color;
    }
    &__list {
        display: flex;
        margin-bottom: 64px;
    }
    &__item {
        max-width: 285px;
    }
    &__item+&__item {
        padding: 0;
        margin-left: 95px;
    }
    &__item::before {
        content: '01';
        display: inline-block;
        @include title($number-color);
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 38px;
    }
    &__item:nth-child(1)::before {
        content: '01';
    }
    &__item:nth-child(2)::before {
        content: '02';
    }
    &__item:nth-child(3)::before {
        content: '03';
    }
    &__inner-title {
        @include title($dark-color);
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 42px;
        max-width: 255px;
    }
    &__text {
        @include text($dark-color-alpha);
        max-width: 285px;
    }
}

@media only screen and (max-width:768px) {
    .work {
        padding-top: 140px;
        &__block {
            max-width: 100%;
            margin: 0 auto;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__line {
            max-width: 480px;
            margin-bottom: 48px;
        }
        &__item {
            max-width: 223px;
        }
        &__item+&__item {
            margin-left: 10px;
        }
        &__inner-title {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 38px;
        }
    }
}

@media only screen and (max-width:600px) {
    .work {
        padding-top: 120px;
        &__title {
            max-width: 100%;
            margin-bottom: 80px;
            text-align: center;
        }
        &__line {
            display: none;
        }
        &__list {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        &__item {
            max-width: 100%;
        }
        &__item+&__item {
            margin-top: 24px;
        }
        &__inner-title {
            max-width: 100%;
            text-align: center;
            margin-bottom: 24px;
        }
        &__item::before {
            content: '01';
            margin-bottom: 24px;
            margin-left: -20px;
        }
        &__btn-box {
            text-align: center;
        }
    }
}