.about-hero {
    padding-top: 43px;
    &__container {
        max-width: 1280px;
        padding: 137px 85px;
        @include background;
        background-image: url('../../img/about-hero-bg.jpg');
        background-size: 100% 100%;
        border-radius: 10px;
    }
    &__title {
        @include title($snow-color);
        margin-bottom: 24px;
    }
    &__text {
        max-width: 445px;
        @include text($snow-color-alpha);
    }
}