.about-hero {
  padding-top: 43px;

  &__container {
    max-width: 1280px;
    padding: 137px 85px;
    background-repeat: no-repeat;
    background-image: url('../../img/about-hero-bg.jpg');
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
  }

  &__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: $snow-color;
    margin-bottom: 24px;
  }

  &__text {
    max-width: 445px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $snow-color-alpha;
  }
}